h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

.info {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    width: 100%;
}

.info label {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: red;
    padding: 0.8%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

label.finish {
    background: lightgreen;
}

.list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.list div {
    display: flex;
    margin-top: 2%;
}
