<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Veronika Barabash, Вероника Барабаш, UCode, Sprint09, t00, Node.js, MVC Pattern">
  <meta name="author" content="Veronika Barabash, Вероника Барабаш">
  <meta name="description" content="UCode It Academy. Sprint09, t00 by Veronika Barabash, Node.js, MVC Pattern">
  <title>Sprint09 - MVC Project - Registration</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <h1>MVC Project - Registration form</h1>
    Пользователь успешно зарегистрирован!

  </div>

</body>

</html>
