<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Veronika Barabash, Вероника Барабаш, UCode, Sprint09, t00, Node.js, MVC Pattern">
  <meta name="author" content="Veronika Barabash, Вероника Барабаш">
  <meta name="description" content="UCode It Academy. Sprint09, t00 by Veronika Barabash, Node.js, MVC Pattern">
  <title>Sprint09 - MVC Project - Registration</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="nav-bar">
  <div><h1>MVC Project - personal area</h1></div>
  <div class="nav-menu">
    <ul>
      <li onclick="window.location.assign('/logout')">Logout</li>

    </ul>
  </div>
</div>
  <div class="container">
#TEXT#
    Вы вошли в личный кабинет</br>
    <button onclick="window.location.assign('/logout')">Log Out</button>

  </div>

</body>

</html>
